<p style="text-align: right">Logged in as <strong>{{currentUser.fullName}}</strong></p>
<h1>{{siteName}}</h1>
<nav>
	<li>{{#link-to 'issues'}}Issues{{/link-to}}</li>
	<li>{{#link-to 'issue' 1}}Issue 1{{/link-to}}</li>
	<li>{{#link-to 'issue' 2}}Issue 2{{/link-to}}</li>
	<li>{{#link-to 'issue' 3}}Issue 3{{/link-to}}</li>
	<li>{{#link-to 'issue.create'}}New Issue{{/link-to}}</li>
	<li>{{#link-to 'issue.update' 2}}Edit Issue 2{{/link-to}}</li>
</nav>
